

nav.menu
    ul.navigation-bar
        each key, value in { 'CSS' : '#' , 'Синтаксис CSS': '#', 'Вставка CSS' :'#', 'Вставка CSS' :'#', 'CSS текста' :'#', 'CSS текста' :'#', 'Блоки' :'#'}
            li
                a(href= key + ".html")= value