extends templates/navigation
block variables 
	-currentPage = "index"
block first-main
	main 
		p.top-text.
			CSS (англ. Cascading Style Sheets — каскадные таблицы стилей) — формальный язык описания внешнего вида документа, написанного с использованием языка разметки.
		section.text-and-image 
			p.center-text Основным понятием CSS является стиль – т. е. набор правил оформления и форматирования, который может быть  применен к различным элементам страницы. Для присвоения какому-либо элементу определенных характеристик необходимо  один раз описать этот элемент и определить это описание как стиль, а в дальнейшем просто указывать, что элемент получить свойства выбранного стиля.
			img(class="section-img", src="img/css1.jpg", alt="", srcset="")
		iframe(src="https://www.youtube.com/embed/MPQgwax9DJI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen)

			