extends templates/navigation
block variables 
	-currentPage = "last-page"
block first-main
	main
		section.images
			img(src="img/1.jpg", alt="", srcset="")
			img(src="img/2.jpg", alt="", srcset="")
			img(src="img/3.jpg", alt="", srcset="")
		section.bottom
			div.left
				p Вначале пишется имя селектора, например, TABLE, это означает, что все стилевые параметры будут применяться к тегу table, затем идут фигурные скобки, в которых записывается стилевое свойство, а его значение указывается после двоеточия. Стилевые свойства разделяются между собой точкой с запятой, в конце этот символ можно опустить.
			div.right
				div.top-right
					p CSS не чувствителен к регистру, переносу строк, пробелам и символам табуляции, поэтому форма записи зависит от желания разработчика.
				div.bottom-right
					p Если для селектора вначале задаётся свойство с одним значением, а затем то же свойство, но уже с другим значением, то применяться будет то значение, которое в коде установлено ниже
